<div
  class="max-w-xl mx-auto mt-4 sm:mt-16 flex w-full flex-col md:shadow-2xl md:border-black rounded-lg bg-white p-8"
>
  <form [formGroup]="signUpForm" #ngForm="ngForm" (ngSubmit)="submitForm()">
    <div class="flex justify-center">
      <h2 class="text-3xl font-bold mb-1 text-gray-900 text-center">
        SIGN UP FORM
      </h2>
    </div>
    <div class="w-full p-[0.5px] bg-gray-500 mt-8 mb-3 opacity-20"></div>
    <p class="mb-5 leading-relaxed text-gray-600 mt-8">
      Please fill in below your first name, last name, email and password.
    </p>
    <div class="space-y-9 py-9">
      <div class="mb-4">
        <label for="first-name" class="mb-1 text-sm tracking-wide text-gray-600"
          >First Name</label
        >
        <div class="relative">
          <div
            class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
          >
            <img src="assets/first-name.svg" alt="first-name" />
          </div>
          <input
            type="text"
            id="first-name"
            name="first-name"
            class="w-full pl-10 rounded border border-gray-300 bg-white py-2 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"
            formControlName="firstName"
            placeholder="Enter your first name"
          />
        </div>
        <div
          *ngIf="ngForm.submitted && signUpForm.invalid"
          class="text-sm pt-1 pl-1 text-red-500"
        >
          <span
            id="required-first-name"
            *ngIf="firstName?.errors?.['required']"
          >
            First name required
          </span>
        </div>
      </div>
      <div class="mb-4">
        <label for="last-name" class="mb-1 text-sm tracking-wide text-gray-600"
          >Last Name</label
        >
        <div class="relative">
          <div
            class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
          >
            <img src="assets/last-name.svg" alt="last-name" />
          </div>
          <input
            type="text"
            id="last-name"
            name="last-name"
            class="w-full pl-10 rounded border border-gray-300 bg-white py-2 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"
            formControlName="lastName"
            placeholder="Enter your last name"
          />
        </div>
        <div
          *ngIf="ngForm.submitted && signUpForm.invalid"
          class="text-sm pt-1 pl-1 text-red-500"
        >
          <span id="required-last-name" *ngIf="lastName?.errors?.['required']">
            Last name required
          </span>
        </div>
      </div>
      <div class="mb-4">
        <label for="email" class="mb-1 text-sm tracking-wide text-gray-600"
          >Email</label
        >
        <div class="relative">
          <div
            class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
          >
            <img src="assets/email.svg" alt="email" />
          </div>
          <input
            type="email"
            id="email"
            name="email"
            class="w-full pl-10 rounded border border-gray-300 bg-white py-2 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"
            formControlName="email"
            placeholder="Enter your email"
          />
        </div>
        <div
          *ngIf="ngForm.submitted && signUpForm.invalid"
          class="text-sm pt-1 pl-1 text-red-500"
        >
          <span
            id="required-email"
            *ngIf="email?.errors?.['required'] else emailValidation"
          >
            Email required
          </span>
          <ng-template #emailValidation>
            <span
              id="invalid-format-email"
              *ngIf="email?.errors?.['email']"
              class="text-sm text-red-500 italic"
            >
              Invalid email format
            </span>
          </ng-template>
        </div>
      </div>
      <div class="mb-4">
        <label for="password" class="mb-1 text-sm tracking-wide text-gray-600"
          >Password</label
        >
        <div class="relative">
          <div
            class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
          >
            <img src="assets/password.svg" alt="password" />
          </div>
          <input
            [type]="passwordType"
            id="password"
            name="password"
            class="w-full pl-10 rounded border border-gray-300 bg-white py-2 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"
            formControlName="password"
            autocomplete
            placeholder="Enter your password"
          />
          <div
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
          >
            <img
              tabindex="0"
              (click)="togglePasswordView()"
              (keydown)="togglePasswordView()"
              *ngIf="passwordType === 'password'"
              src="assets/view-password.svg"
              alt="view-password"
            />
            <img
              tabindex="0"
              (click)="togglePasswordView()"
              (keydown)="togglePasswordView()"
              *ngIf="passwordType === 'text'"
              src="assets/unview-password.svg"
              alt="unview-password"
            />
          </div>
        </div>
        <div
          *ngIf="ngForm.submitted && signUpForm.invalid"
          class="text-sm pt-1 pl-1 text-red-500"
        >
          <span
            id="required-password"
            *ngIf="password?.errors?.['required'] else passwordMinLength"
          >
            Password required
          </span>
          <ng-template #passwordMinLength>
            <span
              id="min-length-password"
              *ngIf="password?.errors?.['minlength'] else passwordLowerUpperCase"
              class="text-sm text-red-500 italic"
            >
              Minimum of eight characters
            </span>
          </ng-template>
          <ng-template #passwordLowerUpperCase>
            <span
              id="at-least-lower-upper-password"
              *ngIf="password?.errors?.['lowerUpperCase'] else passwordForbiddenWords"
              class="text-sm text-red-500 italic"
            >
              At least one small and/or capital letter is missing
            </span>
          </ng-template>
          <ng-template #passwordForbiddenWords>
            <span
              id="forbidden-words-password"
              *ngIf="password?.errors?.['forbiddenWords']"
              class="text-sm text-red-500 italic"
            >
              Should not contain first name or last name
            </span>
          </ng-template>
        </div>
      </div>
    </div>
    <ng-container *ngrxLet="registration$ as registration; error as error">
      <app-success-message *ngIf="registration && !error">
        <p message id="success">
          Registration form has been successfully sent and saved in our servers
        </p>
      </app-success-message>
      <app-error-message *ngIf="error">
        <p message id="error">
          Error occurred while trying to connect to the server, please try again
          later.
        </p>
      </app-error-message>
    </ng-container>
    <div class="flex justify-center">
      <button
        class="w-full md:w-fit rounded border-0 bg-fedex-orange py-3 px-6 text-lg text-white hover:bg-fedex-blue focus:outline-none"
        type="submit"
      >
        <div class="flex justify-center w-full items-center">
          <svg
            *ngIf="loading"
            class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          <span> Sign Up </span>
        </div>
      </button>
    </div>
  </form>
</div>
